/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
/* VARIABLES */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;900&display=swap");
* {
  font: 16px/26px 'Montserrat', sans-serif;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

footer {
  background-color: #222;
  width: 100%;
  margin: 0;
  color: #E0E5EC;
  padding: 30px 0;
  text-align: center;
}

footer a {
  color: #F277A8;
  font-weight: 600;
  font-size: 1.1em;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */
body {
  font: 16px/26px 'Montserrat', sans-serif;
}

.wrapper {
  width: 90%;
  margin: 0 5%;
}

/* ==============
    MOBILE: Main
   ============== */
.main {
  padding: 30px 0;
}

.main article h1 {
  font-size: 2em;
}

.main aside {
  color: #E0E5EC;
  padding: 0px 5% 10px;
}

/* ===============
    ALL: IE Fixes
   =============== */
.ie7 .title {
  padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
section {
  display: flex;
  flex-wrap: wrap;
}

button {
  border-radius: 25px;
  background-color: #E0E5EC;
  box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
  padding: 10px 30px;
  margin: 2em;
  border: none;
  color: #F277A8;
  transition: 0.16s ease-in-out;
}

button:hover {
  transform: scale(1.2);
  font-weight: 600;
}

header {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 15%;
}

header img {
  width: 80vw;
  max-width: 600px;
  justify-self: flex-start;
  top: 20vh;
  position: absolute;
}

header h1 {
  font-size: 3em;
  font-weight: 600;
}

header p {
  margin-top: 15vh;
  max-width: 500px;
  font-weight: 200;
  text-align: center;
}

.imagefiller {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
}

.caja {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  background-color: #f1f1f1;
}

.caja:before {
  content: "";
  display: block;
  padding-bottom: calc(100vw * 1.618);
}

.caja-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.caja-inner img {
  height: 50%;
  width: auto;
  border-radius: 25px;
}

.caja-inner h3 {
  font-size: 2em;
  font-weight: 600;
  text-transform: uppercase;
}

.caja-inner p {
  margin: 0 5vw;
  line-height: 22px;
}

.caja:nth-child(odd) {
  background-color: #F7CDDA;
}

@media (min-width: 840px) {
  .caja {
    width: 50%;
  }
  .caja:nth-child(1), .caja:nth-child(4), .caja:nth-child(5), .caja:nth-child(8), .caja:nth-child(9) {
    background-color: #F7CDDA;
  }
  .caja:nth-child(2), .caja:nth-child(3), .caja:nth-child(6), .caja:nth-child(7), .caja:nth-child(10) {
    background-color: #f1f1f1;
  }
  .caja p {
    margin: 0 3vw;
  }
  .caja:before {
    padding-bottom: 100%;
  }
}

.textbox {
  padding: 1em;
}

/* MAUTIC FORM STYLE */
#contacto {
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  text-align: center;
  padding: 5vw;
}

#contacto h2 {
  text-align: center;
  font-size: 2.5em;
  font-weight: 600;
  clear: both;
  margin: 30px auto;
  width: 100%;
  line-height: 1em;
}

#contacto form {
  width: 100%;
  max-width: 1180px;
}

#contacto form .inner-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

#contacto form .inner-form div {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

#contacto form .inner-form div div {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

#contacto form input,
#contacto form textarea {
  border: none;
  border-bottom: 2px solid #F277A8;
  width: 100%;
  max-width: 500px;
  min-width: 300px;
  padding: 0 0 8px 4px;
  margin: 30px auto;
  background: transparent;
  font-size: 1.6em;
  outline: none;
}

#contacto form input:focus,
#contacto form textarea:focus {
  color: #F277A8;
  border-bottom: solid #F277A8 2px;
}

#contacto form input:valid,
#contacto form textarea:valid {
  border-bottom: solid #F277A8 2px;
  color: #F277A8;
}

#contacto form input:invalid,
#contacto form textarea:invalid {
  border-bottom: solid #8e8e8e 2px;
  color: #8e8e8e;
}

#contacto form #mauticform_pelumark_submit {
  align-self: flex-end;
  margin: 30px auto;
}

#contacto form button {
  border-radius: 50px;
  background-color: #E0E5EC;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  padding: 20px 60px;
  margin: 2em;
  border: none;
  font-size: 1.7em;
  color: #F277A8;
  transition: 0.16s ease-in-out;
}

#contacto form button:hover {
  transform: scale(1.2);
  font-weight: 600;
}

.mauticform-error {
  margin-bottom: 10px;
  color: red;
}

.mauticform-message {
  margin-bottom: 10px;
  color: green;
}

.mauticform-row {
  display: block;
  margin-bottom: 20px;
}

.mauticform-label {
  font-size: 1.1em;
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.mauticform-row.mauticform-required .mauticform-label:after {
  color: red;
  content: " *";
  display: inline;
}

.mauticform-helpmessage {
  display: block;
  font-size: 0.9em;
  margin-bottom: 3px;
}

.mauticform-errormsg {
  display: block;
  color: red;
  margin-top: 2px;
}

/* fade image in after load */
.lazyload,
.lazyloading {
  opacity: 0;
}

.lazyloaded {
  opacity: 1;
  transition: opacity 300ms;
}

/******* GOOMENOO *****/
nav.goobutt {
  z-index: 9999;
  position: fixed;
  right: 0px;
  bottom: 0px;
  margin-left: -175px;
  padding-top: 20px;
  padding-left: 175px;
  width: 350px;
  height: 250px;
  box-sizing: border-box;
  font-size: 20px;
  text-align: left;
}

nav.goobutt .goobutt {
  -webkit-filter: url("#shadowed-goo");
  filter: url("#shadowed-goo");
}

nav.goobutt .goobutt-item, nav.goobutt .goobutt-open-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F277A8;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  right: 20px;
  bottom: 20px;
  font-size: 36px;
  color: white !important;
  text-align: center;
  line-height: 71px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform ease-out 200ms;
  transition: -webkit-transform ease-out 200ms;
  transition: transform ease-out 200ms;
  transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

nav.goobutt .goobutt-open {
  display: none;
}

nav.goobutt .goobutt {
  position: fixed;
  right: 0px;
  bottom: 0px;
  margin-left: -175px;
  padding-top: 20px;
  padding-left: 175px;
  width: 350px;
  height: 250px;
  box-sizing: border-box;
  font-size: 20px;
  text-align: left;
}

nav.goobutt .goobutt-item:hover {
  background: #F7CDDA;
  color: white !important;
}

nav.goobutt .goobutt-item:nth-child(3) {
  -webkit-transition-duration: 70ms;
  transition-duration: 70ms;
}

nav.goobutt .goobutt-item:nth-child(4) {
  -webkit-transition-duration: 130ms;
  transition-duration: 130ms;
}

nav.goobutt .goobutt-item:nth-child(5) {
  -webkit-transition-duration: 190ms;
  transition-duration: 190ms;
}

nav.goobutt .goobutt-item:nth-child(6) {
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
}

nav.goobutt .goobutt-open-button {
  z-index: 2;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
}

nav.goobutt .goobutt-open-button:hover {
  -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
  transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

nav.goobutt .goobutt-open:checked + .goobutt-open-button {
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
  transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

nav.goobutt .goobutt-open:checked ~ .goobutt-item {
  -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
  transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}

nav.goobutt .goobutt-open:checked ~ .goobutt-item:nth-child(3) {
  -webkit-transition-duration: 160ms;
  transition-duration: 160ms;
  -webkit-transform: translate3d(-159.64323px, 10.67888px, 0);
  transform: translate3d(-159.64323px, 10.67888px, 0);
}

nav.goobutt .goobutt-open:checked ~ .goobutt-item:nth-child(4) {
  -webkit-transition-duration: 240ms;
  transition-duration: 240ms;
  -webkit-transform: translate3d(-140.16646px, -77.15804px, 0);
  transform: translate3d(-140.16646px, -77.15804px, 0);
}

nav.goobutt .goobutt-open:checked ~ .goobutt-item:nth-child(5) {
  -webkit-transition-duration: 320ms;
  transition-duration: 320ms;
  -webkit-transform: translate3d(-76.36932px, -140.59775px, 0);
  transform: translate3d(-76.36932px, -140.59775px, 0);
}

nav.goobutt .goobutt-open:checked ~ .goobutt-item:nth-child(6) {
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-transform: translate3d(11.57564px, -159.58071px, 0);
  transform: translate3d(11.57564px, -159.58071px, 0);
}

#popup {
  display: none;
  z-index: 9;
}

.popup__wrapper {
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
}

.popup__wrapper .popup__container {
  background: url(/img/hex.svg) no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*overflow: visible;*/
  font-size: 18px;
  margin: 20px;
  width: 100%;
  height: 100%;
  z-index: 9;
  max-width: 440px;
  max-height: 500px;
  text-align: center;
}

.popup__wrapper p {
  font-weight: 600;
}

.popup__wrapper .h1 {
  font-size: 26px;
  margin-bottom: 15px;
}

.popup__wrapper button[type="discount"] {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 244px;
  width: 50%;
  height: 50px;
  font-family: Raleway, sans-serif;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  background-color: #6E0270;
  border-radius: 25px;
  transition: all .26s ease;
  font-weight: 600;
}

.popup__wrapper .popup__container:hover button[type="discount"] {
  bottom: 0;
  background-color: #D80077;
  animation: none;
  animation: pulse 1s infinite;
  font-weight: 800;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.35);
}

.popup__wrapper:hover .st0 {
  stroke: #6E0270;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.popup__wrapper i {
  position: relative;
  top: -100px;
  right: 0;
  left: 0;
  cursor: pointer;
}

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  *,
*:before,
*:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after,
a[href^="javascript:"]:after {
    content: "";
  }
  pre,
blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
h2,
h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
h3 {
    page-break-after: avoid;
  }
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 768px) {
  /* ====================
        WIDE: CSS3 Effects
       ==================== */
  .header-container,
.main aside {
    -webkit-box-shadow: 0 5px 10px #aaa;
    -moz-box-shadow: 0 5px 10px #aaa;
    box-shadow: 0 5px 10px #aaa;
  }
  /* ============
        WIDE: Menu
       ============ */
  .title {
    float: left;
  }
  /* ============
        WIDE: Main
       ============ */
  .main article {
    float: left;
    width: 57%;
  }
  .main aside {
    float: right;
    width: 28%;
  }
}

@media only screen and (min-width: 1140px) {
  /* ===============
        Maximal Width
       =============== */
  .wrapper {
    width: 1026px;
    /* 1140px - 10% for margins */
    margin: 0 auto;
  }
}

/* ==========================================================================
       Helper classes
       ========================================================================== */
.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}
